
front/venv/
front/all_reviews_En_Prepared_binaryClass.csv
front/all_reviews_Fr_Prepared_binaryClass.csv
front/app/model_en.pkl
front/app/model_fr.pkl

scraping_to_training/1-Scraping/all_restau_reviews_English.csv
scraping_to_training/1-Scraping/all_restau_reviews_fr_v1.csv

scraping_to_training/2-Nettoyage/all_reviews_En_clean.csv
scraping_to_training/2-Nettoyage/all_reviews_Fr_clean.csv


scraping_to_training/4-Entrainement/all_reviews_En_Prepared.csv

scraping_to_training/4-Entrainement/all_reviews_En_Prepared_binaryClass.csv
scraping_to_training/4-Entrainement/all_reviews_Fr_Prepared.csv
scraping_to_training/4-Entrainement/all_reviews_Fr_Prepared_binaryClass.csv

